body {
  padding: 5%;
  text-align: center;
}

.link-home {
  position: absolute;
  left: 30px;
  top: 30px;
}

.clue {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.text-hidden {
  visibility: hidden;
}

.text-revealed {
  animation: fade-in 1s;
  visibility: visible;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}